<!DOCTYPE html>
{% load i18n %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'news_list' %}">NewsPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                {% load cache %}
                {% cache 30 body %}
                {% block body %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'news_list' %}">{% trans "Новости" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'news_search' %}">{% trans "Поиск" %}</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'news_add' %}">{% trans "Добавить" %}</a></li>
                         {% if is_not_author %}
                        <li class="nav-item"><a style="color:orange" class="nav-link" href="{% url 'upgrade' %}">{% trans "Стать автором" %}</a></li>
                        {% endif %}
                        <li class="nav-item"><p style="color:white" class="nav-link">{% trans "Вы вошли как:" %} <b><i>{{ user.username }}</i></b></p></li>
                        <li class="nav-item"><a style="color:red" class="nav-link" href="{% url 'account_logout' %}">{% trans "Выход" %}</a></li>
                    {% else %}
                         <li class="nav-item"><a style="color:red" class="nav-link" href="{% url 'account_login' %}">{% trans "Войти" %}</a></li>
                         <li class="nav-item"><a style="color:green" class="nav-link" href="{% url 'account_signup' %}">{% trans "Регистрация" %}</a></li>
                    {% endif %}
                        <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
                    </ul>
                </div>
                {% endblock body%}
                {% endcache %}
            </div>
        </nav>
        <div>
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                    </option>
                    {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                    </form>
        </div>
        <!-- Page content-->
        <div class="container">
                {% block content %}
                    <div style="float: right">
                        {% if messages %}
                        <div>
                        <strong>Messages:</strong>
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </div>
                {% endblock %}
                {% block extra_body %}
                {% endblock %}
        </div>
    </body>
</html>
