{% extends 'account/base.html' %}
{% load tz %}
{% load i18n %}
{% block title %}
Главная страница
{% endblock title %}
<style> body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} red {% else %} blue {% endif %};} </style>
{% block content %}
<p></p>
<hr>
<h2 align="center">{% trans "Добро пожаловать на сайт NewsPortal" %}</h2>
<h2 align="center">{{request.user.username}}</h2>
<hr>
<p>
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
</p>

{% endblock content %}