{% extends 'account/base.html' %}
{% load custom_filters %}

<!-- Блок заголовка -->
{% block title %}
{{newspost.title_post}}
{% endblock title %}

<!-- Блок контента -->
{% block content %}

<h2>{{newspost.title_post|censor}}</h2>
<p>{{newspost.date_post|date:'d.m.Y (h:m)' }}</p>
<p>{{newspost.body_post|censor}}</p>

<hr>
{% for category in newspost.category_post.all %}
<form action="{% url 'subscribe' newspost.pk %}" method="POST">
    {% csrf_token %}
{% if not_subscribed %}
    <li style="display:inline;"><input type="submit" name="category" value="{{category}}"></li>
{% else %}
    <li style="display:inline;">{{category}}</li>
{% endif %}
</form>
{% endfor %}
<hr>
{% endblock content %}