<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>Здравствуй, {{user}}!</h2>
    <p>Еженедельная рассылка в твоем любимом разделе:</p>
    <table>
        <tr>
            <td>Тема</td>
            <td>Дата</td>
            <td>Краткое содержание</td>
        </tr>
    {% for post in week_posts %}
        <tr>
            <td>{{post.date_post|date:'d.m.Y'}}</td>
            <td>{{post.title_post}}</td>
            <td>{{post.body_post|truncatechars:50}}<a href="http://127.0.0.1:8000{{ post.get_absolute_url }}">Далее</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>